**/.git
**/*.log
**/*.md
**/*.rnd
**/.DS_Store
**/Thumbs.db
**/*.zip
**/*.cache


**/node_modules
**/.env
**/.env.*
src/logs/*.log
.styleci.yml
.editorconfig
README.md
Dockerfile
docker-compose.yml

/deploy

**/.fleet
**/.idea
**/.vscode
**/*.code-workspace
**/*.sublime-workspace

/.editorconfig
**/.scannerwork
**/prisma-cloud-scan-results*.json